---
---

@import "minima";

body {
    // font-family: Courier New, monospace;
    font-family: Trebuchet MS !important;
}

.site-header {
    border: none;
    margin-top: 50px;
    margin-bottom: 24px;

    .site-title {
        float: none;
        line-height: unset;
    }

    .site-nav {
        float: none;
        line-height: unset;

        .neat {
            letter-spacing: -5px;
            margin-right: 2px;
        }
    }

    .about {
        margin: 0 0 18px;
        font-size: 0.8em;
    }
}

.post-list {
    li {
        .post-link {
            color: #000;
            font-size: 1em;
        }
    }
}

.rss-subscribe {
    margin-top: 48px;
    font-size: 1em;
}

.post-header {
    margin-bottom: 16px;

    .post-title {
        font-size: 36px;
    }
}

.post-content {
    h1, h2, h3, h4, h5, h6 {
        padding-top: 24px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }
}

.site-footer {
    padding: 12px 0;
    color: #828282;

    .footer-col {
        margin-bottom: 0;
        ul {
            margin-bottom: 0;
        }
    }
}

.flex {
    display: flex;

    .left {
        flex: 1;
    }

    .right {
        flex-grow: 0;
    }
}